LoadFileListSF/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "southafricanorth",
        "southafricawest"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "azureblob_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azureblob"
    },
    "azureblob_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "nimccollftademostg"
    },
    "azureblob_1_accountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      },
      "defaultValue": "nimccollftademostg"
    },
    "azureblob_1_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Specify a valid primary/secondary storage account access key."
      }
    },
    "salesforce_1_Connection_Name": {
      "type": "string",
      "defaultValue": "salesforce"
    },
    "salesforce_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "nimccoll@microsoft.com"
    },
    "salesforce_1_token:LoginUri": {
      "type": "string",
      "metadata": {
        "description": "The Salesforce Login URI. For Production, leave blank or use https://login.salesforce.com"
      },
      "defaultValue": "https://login.salesforce.com"
    },
    "salesforce_1_salesforceApiVersion": {
      "type": "string",
      "metadata": {
        "description": "The Salesforce API Version. For default, leave blank or use v34.0"
      },
      "defaultValue": "v34"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "List_blobs_in_root_folder": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/foldersV2",
                "queries": {
                  "useFlatListing": false,
                  "nextPageMarker": ""
                }
              },
              "runAfter": {
                "For_each_2": [
                  "Succeeded"
                ]
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('List_blobs_in_root_folder')?['value']",
              "actions": {
                "Condition": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@items('For_each')?['IsFolder']",
                          true
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "List_blobs_2": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent(items('For_each')?['Path']))}",
                        "queries": {
                          "nextPageMarker": "",
                          "useFlatListing": true
                        }
                      },
                      "runAfter": {}
                    },
                    "For_each_3": {
                      "type": "Foreach",
                      "foreach": "@body('List_blobs_2')?['value']",
                      "actions": {
                        "Create_record": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['salesforce']['connectionId']"
                              }
                            },
                            "method": "post",
                            "body": {
                              "FileName__c": "@items('For_each_3')?['Path']"
                            },
                            "path": "/v2/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('AvailableFile__c'))}/items"
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "List_blobs_2": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "List_blobs_in_root_folder": [
                  "Succeeded"
                ]
              }
            },
            "Get_records": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['salesforce']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('AvailableFile__c'))}/items"
              },
              "runAfter": {}
            },
            "For_each_2": {
              "type": "Foreach",
              "foreach": "@body('Get_records')?['value']",
              "actions": {
                "Delete_record": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['salesforce']['connectionId']"
                      }
                    },
                    "method": "delete",
                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('AvailableFile__c'))}/items/@{encodeURIComponent(encodeURIComponent(items('For_each_2')?['Id']))}"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Get_records": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "recurrence",
              "recurrence": {
                "frequency": "Day",
                "interval": 1
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureblob_1_Connection_Name'))]",
                "connectionName": "[parameters('azureblob_1_Connection_Name')]"
              },
              "salesforce": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'salesforce')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('salesforce_1_Connection_Name'))]",
                "connectionName": "[parameters('salesforce_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azureblob_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('salesforce_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('azureblob_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]"
        },
        "displayName": "[parameters('azureblob_1_Connection_DisplayName')]",
        "parameterValues": {
          "accountName": "[parameters('azureblob_1_accountName')]",
          "accessKey": "[parameters('azureblob_1_accessKey')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('salesforce_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'salesforce')]"
        },
        "displayName": "[parameters('salesforce_1_Connection_DisplayName')]",
        "nonSecretParameterValues": {
          "token:LoginUri": "[parameters('salesforce_1_token:LoginUri')]",
          "salesforceApiVersion": "[parameters('salesforce_1_salesforceApiVersion')]"
        }
      }
    }
  ],
  "outputs": {}
}